# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
import pandas as pd

# URLs de los archivos
file1_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
file2_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
file3_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"

In [2]:
def load_and_clean_data(file_url):
    data = pd.read_csv(file_url)
    
    data.columns = (
        data.columns
        .str.strip()
        .str.lower()
        .str.replace(' ', '_')
        .str.replace('st', 'state', regex=False)
    )
    
    numerical_columns = data.select_dtypes(include=['float64', 'int64']).columns
    categorical_columns = data.select_dtypes(include=['object']).columns

    data[numerical_columns] = data[numerical_columns].fillna(data[numerical_columns].mean())

    data[categorical_columns] = data[categorical_columns].fillna(data[categorical_columns].mode().iloc[0])

    if 'customer_lifetime_value' in data.columns:
        data['customer_lifetime_value'] = pd.to_numeric(data['customer_lifetime_value'], errors='coerce')

    if 'number_of_open_complaints' in data.columns:
        data['number_of_open_complaints'] = (
            data['number_of_open_complaints']
            .astype(str)
            .str.split('/')
            .str[1]
            .astype(float)
        )

    data = data.drop_duplicates(keep='first').reset_index(drop=True)

    return data

In [3]:
data1 = load_and_clean_data(file1_url)
data2 = load_and_clean_data(file2_url)
data3 = load_and_clean_data(file3_url)

In [5]:
combined_data = pd.concat([data1, data2, data3], ignore_index=True)

In [6]:
print(combined_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9138 entries, 0 to 9137
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   custateomer                 9138 non-null   object
 1   state                       2068 non-null   object
 2   gender                      9138 non-null   object
 3   education                   9138 non-null   object
 4   custateomer_lifetime_value  9138 non-null   object
 5   income                      9138 non-null   float64
 6   monthly_premium_auto        9138 non-null   float64
 7   number_of_open_complaints   2068 non-null   float64
 8   policy_type                 9138 non-null   object
 9   vehicle_class               9138 non-null   object
 10  total_claim_amount          9138 non-null   float64
 11  stateate                    7070 non-null   object
dtypes: float64(4), object(8)
memory usage: 856.8+ KB
None

In [7]:
combined_data.head()

,custateomer,state,gender,education,custateomer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount,stateate
0,RB50392,Washington,F,Master,251459.20%,0.0,1000.0,0.0,Personal Auto,Four-Door Car,2.704934,NaN
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935,NaN
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247,NaN
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,0.0,Corporate Auto,SUV,529.881344,NaN
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323,NaN

In [9]:
file_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
data = pd.read_csv(file_url)

In [12]:
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [13]:
data.columns = (
    data.columns
    .str.strip() 
    .str.lower() 
    .str.replace(' ', '_') 
)

In [14]:
data.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

In [15]:
print(data.isnull().sum())

unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

In [16]:
numerical_columns = data.select_dtypes(include=['float64', 'int64']).columns
categorical_columns = data.select_dtypes(include=['object']).columns

In [18]:
data[numerical_columns] = data[numerical_columns].fillna(data[numerical_columns].mean())
data[categorical_columns] = data[categorical_columns].fillna(data[categorical_columns].mode().iloc[0])

In [19]:
if 'customer_lifetime_value' in data.columns and 'monthly_premium_auto' in data.columns:
    data['value_per_premium'] = data['customer_lifetime_value'] / data['monthly_premium_auto']

In [20]:
data.describe()

,unnamed:_0,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,month,value_per_premium
count,10910.000000,10910.000000,10910.000000,10910.000000,10910.000000,10910.000000,10910.000000,10910.000000,10910.000000,10910.000000,10910.000000
mean,5454.500000,8018.241094,37536.284785,93.196059,15.149071,48.091934,0.384256,2.979193,434.888330,1.466728,86.328654
std,3149.590053,6885.081434,30359.195670,34.442532,9.783520,27.940675,0.885589,2.399359,292.180556,0.498915,64.489351
min,0.000000,1898.007675,0.000000,61.000000,0.000000,0.000000,0.000000,1.000000,0.099007,1.000000,26.115753
25%,2727.250000,4014.453113,0.000000,68.000000,7.000000,24.000000,0.000000,1.000000,271.082527,1.000000,39.843398
50%,5454.500000,5771.147235,33813.500000,83.000000,15.000000,48.000000,0.000000,2.000000,382.564630,1.000000,76.524829
75%,8181.750000,8992.779137,62250.750000,109.000000,23.000000,71.000000,0.384256,4.000000,547.200000,2.000000,96.979896
max,10909.000000,83325.381190,99981.000000,298.000000,35.000000,99.000000,5.000000,9.000000,2893.239678,2.000000,365.815196

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [21]:
file_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
data = pd.read_csv(file_url)

data.columns = (
    data.columns
    .str.strip()
    .str.lower()
    .str.replace(' ', '_')
)

In [22]:
sales_channel_summary = data.pivot_table(
    values='customer_lifetime_value',  
    index='sales_channel',            
    aggfunc='sum'                     
)

In [23]:
sales_channel_summary = sales_channel_summary.round(2)

In [24]:
print(sales_channel_summary)

               customer_lifetime_value
sales_channel
Agent                      33057887.85
Branch                     24359201.21
Call Center                17364288.37
Web                        12697632.90

In [26]:
avg_customer_value = data.pivot_table(
    values='customer_lifetime_value',  
    index='gender',                   
    columns='education',              
    aggfunc='mean'                   
)
avg_customer_value = avg_customer_value.round(2)

In [28]:
print(avg_customer_value)

education  Bachelor  College   Doctor  High School or Below   Master
gender
F           7874.27  7748.82  7328.51               8675.22  8157.05
M           7703.60  8052.46  7415.33               8149.69  8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [29]:
file_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
data = pd.read_csv(file_url)

data.columns = (
    data.columns
    .str.strip()
    .str.lower()
    .str.replace(' ', '_')
)

print(data.columns)

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

In [31]:
if 'effective_to_date' in data.columns:
    data['effective_to_date'] = pd.to_datetime(data['effective_to_date'])

    data['month'] = data['effective_to_date'].dt.month
    data['year'] = data['effective_to_date'].dt.year
else:
    print("Columna 'effective_to_date' not found.")

In [32]:
if 'number_of_open_complaints' in data.columns and 'policy_type' in data.columns:
    complaints_summary = data.pivot_table(
        values='number_of_open_complaints',
        index=['year', 'month'],    
        columns='policy_type',       
        aggfunc='sum',              
        fill_value=0                 
    )

    complaints_long = complaints_summary.reset_index().melt(
        id_vars=['year', 'month'],
        var_name='policy_type',
        value_name='number_of_complaints'
    )

    complaints_long = complaints_long.sort_values(by='number_of_complaints', ascending=False)

    print(complaints_long)

else:
    print("Columnas necesarias ('number_of_open_complaints' o 'policy_type') no encontradas.")

   year  month     policy_type  number_of_complaints
2  2011      1   Personal Auto           1727.605722
3  2011      2   Personal Auto           1453.684441
0  2011      1  Corporate Auto            443.434952
1  2011      2  Corporate Auto            385.208135
5  2011      2    Special Auto             95.226817
4  2011      1    Special Auto             87.074049